@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  color: $black;
  background: $white;
  line-height: 1.2;
}

a {
  color: $blue;
}

a:hover {
  color: $blue;
  text-decoration: none;
}

html {
  -webkit-font-smoothing: antialiased;
}

body,
button,
input,
select,
textarea {
  font-family: Arial, Helvetica, sans-serif;
  font-size: $em-base;
}

button,
input,
button,
select {
  vertical-align: middle;
  outline: none;
}

textarea {
  outline: none;
  resize: none;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: $gray;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
  color: $gray;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: $gray;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: $gray;
}

/*::-webkit-scrollbar{width:5px;}
::-webkit-scrollbar-track{background-color:#fff;}
::-webkit-scrollbar-thumb{background-color:#ccc; border-radius:4px;}
::-webkit-scrollbar-thumb:hover {background-color:#ccc}
::-webkit-scrollbar-thumb:active {background-color:#ccc}*/

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  border: 0;
}

ol,
ul {
  list-style: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}